*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'gg sans', sans-serif;
    font-family: 'gg sans Normal', sans-serif;
    font-family: 'gg sans Medium', sans-serif;
    font-family: 'gg sans SemiBold', sans-serif;
}

:root{
    --tm-dsc-header: #3161E0;
    --tm-dsc-primary: #6F85D3;
    --tm-dsc-dark: #23272A;
    --tm-dsc-grey: #EBEBEB;
}


/* #region Debug */


.debug .col_8 .col_4 .col_15{
    height: 250px;
    background-color: yellow;
    border: 3px dotted black;
}

.debug .row_header{
    height: 100px;
}

.debug .row{
    height: 300px;
}

.debug .card{
    height: 80%;
    width: 80%;
}

.debug .row_header{
    height: 100px;
    background-color: brown;
}

.debug .head_1 .head_2 .head_3{
    height: 60px;
    border: 1px solid red;
    background-color: black;
}

.debug .main_one{
    height: 100px;
}

.debug .main_one{
    height: 450px;    
}

.debug .big_article{
    width: 60%;
    height: 100%;
    background-color: grey;
}

.debug .row{
    height: 300px;
    background-color: brown;
}

.debug .big_container{
    height: 700px;
    width: 100%;
    background-color: grey;
}

.debug .end_one .end_two{
    height: 50px;
    background-color: black;
} 

.debug .row_end{
    background-color: dimgrey;
}





/* #endregion Debug */

/* #region Utlity */

.container{
    max-width: 1170px;
    width: 80%;
    margin: auto;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 1rem 7rem 1rem;
}


.col_8{
    width: calc(100% / 12 * 8);
    display: flex;
}

.col_4{
    width: calc(100% / 12 * 4);
    display: flex;
}

.col_15{
    width: calc(100% / 12 * 2);
    padding-top: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.card{
    margin: auto;
}


h2{
    font-size: 50px;  
    font-weight: 100; 
    margin-bottom: 2rem; 
}


/* #endregion Utlity */

/* #region Links */
a{
    text-decoration: none;
    color: white; 
    border-radius: 20px;
    padding: 0.5rem 1rem;   
}

a:hover, .signup a:hover{
    color: var(--tm-dsc-dark);
}

.signin:hover, .download:hover{
    color: var(--tm-dsc-primary);
}

.login{
    text-align: right;
}

.login > a{
    color: black;
    background-color: white;
    border: 1px solid white;    
    font-size: small;
}


.download, .open{
    border-radius: 20px;
    padding: 0.5rem 1.5rem;
}

.download{
    color: var(--tm-dsc-dark);
    background-color: white;
    margin-right: 1.5rem;    
}

.open:hover{
    color: var(--tm-dsc-header);
}

.open{
    color: white;
    background-color: var(--tm-dsc-dark);
}

.row_big a{
    background-color: var(--tm-dsc-primary);  
    margin-bottom: 6rem;
}


.signup > a{
    background-color: var(--tm-dsc-primary);   
    text-align: right;     
}

.signup{
    text-align: right;
}

footer a:hover{
    color: var(--tm-dsc-primary);
}



/* #endregion Links */

/* #region Wave */

.wave{
    height: 100px;
    background-image: url(../img/wave.svg);
    opacity: 0.08;
}

.wave_two{
    rotate: 180deg;
}

/* #endregion Wave */

/* #region Header */

header{
    background-color: var(--tm-dsc-header);
}

.row_header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
}


.menu{
    display: flex;
    justify-content: space-evenly;
}

.logo, .login{
    width: 25%;
}

.menu{
    width: 50%;    
}



/* #endregion Header */

/* #region First Section */


.section_one{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center; 
    padding-top: 5rem;
    padding-bottom: 5rem; 
}



.jumbo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
}

.jumbo_text p{
    margin: 2rem 0 1.5rem 0;
    text-align: center;
}

.commands{
    display: flex;
    justify-content: space-around;
}

h1{
    font-size: 2.5rem;
}

h1, .jumbo_text p{
    color: white;
}


/* #endregion First Section */

/* #region Second Section */

.section_two{
    background-color: white;
}

/* #endregion Second Section */

/* #region Third Section */

.section_three{
    background-color: var(--tm-dsc-grey);
}

/* #endregion Third Section */

/* #region Fourth Section */

.section_four{
    background-color: white;
}

/* #endregion Fourth Section */

/* #region Big Section */

.big_section{
    padding: 1rem 0 3rem 0;
    background-color: var(--tm-dsc-grey);
}

.row_big{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row_big p{
    text-align: center;
    width: 80%;
}

.row_big img{
    width: 90%;
}

.main_foot{
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.row_big h3{
    padding-top: 5rem;
    padding-bottom: 2rem;
    font-size: 30px;
    margin: 0 2.5rem 0 2.5rem;
}



/* #endregion Big Section */

/* #region Footer */

.row_foot{
    display: flex;
    margin-top: 3rem;
}

footer{
    background-color: var(--tm-dsc-dark);
    padding: 1rem 0 3rem 0;
}

footer h3{
    color: var(--tm-dsc-primary);
    font-size: 30px;
}

.row_dropdown{
    display: flex;
    flex-direction: column;
}

.dropdown > img{
    height: 15px;
}

#languages{
    color: white;
    background-color: var(--tm-dsc-dark);
    border: none;
    width:fit-content;
    margin: 1rem 0;
}

.socialmedia{
    margin-left: -1rem;
}

footer h4{
    color: var(--tm-dsc-primary);
}

.row_end{
    display: flex;
    justify-content: space-between;
    border-top: 3px solid white;
    padding-bottom: 5rem;
}   


.foot_logo, .signup{
    width:calc(100% / 12 * 2);
    margin: 1rem 0 1rem 0;
}

#pcol_15{
    padding-top: 0.5rem;
    padding-left: 0;
}



/* #endregion Footer */


